.all-container {
    display: none;
}

#side-stats {
    position: fixed;
    bottom: 0%;
    height: 100%;
    overflow: auto;
}

#side-stats *{
    color: white;
}

#side-stats .collection-item {
    color: black;
}

.paper-list {
    margin-top: 20px;
}

#side-stats tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#image-container {
    position: relative;
}

.document-container {
    position: relative;
    display: inline-block;
}

.document-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#entire-page-preloader {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
}

.sidebar-button {
    width: 100%;
    margin-top: 20px;
}
