{% extends 'base.html' %}

{% block header %}
    <a href="" class="brand-logo truncate">Explanation Labeling</a>
    <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light tagger-sidenav btn" data-target="slide-out">Other Papers</a></li>
        <li><a href="/logout" class="waves-effect waves-light btn">Log Out</a></li>
    </ul>
{% endblock %}


{% block content %}
<!--<div class="button-box red lighten-2">
    <a class="waves-effect waves-light btn">Mark as done (ENTER)</a>
    <a class="waves-effect waves-light btn" id="is-explained-button">Is being explained (←)</a>
    <a class="waves-effect waves-light btn" id="is-not-explained-button">Isn't being explained (→)</a>
    <a class="waves-effect waves-light btn" id="undo-label-button">Undo (Back)</a>
</div>-->

<div class="side-stats">
    <p id="candidate-counter"></p>
    <p id="phrase-counter"></p>
</div>

<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <div class="cyan background">
            <img src="https://upload.wikimedia.org/wikipedia/en/d/da/Hearst_Mining_Interior.JPG">
        </div>
        <a><span class="white-text name">{{ g.fullname }}</span></a>
        <a><span class="white-text email">{{ g.email }}</span></a>
    </div></li>
    <li><a class="waves-effect" onclick="requestRender()"><i class="material-icons">add_circle</i>Render Additional Paper</a></li>
    <li><div class="divider"></div></li>
</div>
</ul>

<div class="container" id="image-container">
    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">question_answer</i>Instructions</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    </li>
  </ul>
</div>

{% endblock %}

{% block end %}
<style>
    .button-box {
        position: fixed;
        z-index: 2;
        right: 0px;
        bottom: 0px;
        width: 100%;
        padding: 8px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .side-stats {
        position: fixed;
        z-index: 2;
        right: 0%;
        bottom: 0%;
        padding: 8px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .document-container {
        position: relative;
        display: inline-block;
    }
    
    .document-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
</style>

<script>
    user_email = '{{ g.email }}';
    number_of_images = {{ g.num_images }};
    ssid = '{{ g.ssid }}';
</script>
    
<script src={{ url_for('static', filename='edit.js') }}></script>
{% endblock %}
