{% extends 'base.html' %}

{% block header %}{% endblock %}


{% block content %}
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
        <div class="cyan background">
            <img src="https://upload.wikimedia.org/wikipedia/en/d/da/Hearst_Mining_Interior.JPG">
        </div>
        <a><span class="white-text name">{{ g.fullname }}</span></a>
        <a><span class="white-text email">{{ g.email }}</span></a>
    </div></li>
    <li><a class="waves-effect" onclick="requestRender()"><i class="material-icons">add_circle</i>Render Additional Paper</a></li>
    <li><div class="divider"></div></li>
</div>
</ul>

<!-- Loads the stylesheet before the content so we can display loading sign -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'edit.css') }}">
<div id="entire-page-preloader" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

<div class="row all-container">
    <div id="side-stats" class="grey darken-3 col s3 z-depth-2">
        <h4> Explanation Labeling </h4>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Value</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Candidate</td>
                    <td id="current-candidate-count">N/A</td>
                    <td id="total-candidate-count"></td>
                </tr>
                <tr>
                    <td>Phrase</td>
                    <td id="current-phrase-count">N/A</td>
                    <td id="total-phrase-count"></td>
                </tr>
                <tr>
                    <td>Labeled</td>
                    <td>3</td>
                    <td>18</td>
                </tr>
            </tbody>
        </table>
        
        <a class="sidebar-button waves-effect waves-light btn" href="../logout">Mark as Done</a>
        <a class="sidebar-button waves-effect waves-light btn" href="../logout">Log out</a>
    </div>
    
    <div class="col s9 offset-s3" id="image-container"></div>
</div>

{% endblock %}

{% block end %}

<script>
    user_email = '{{ g.email }}';
    number_of_images = {{ g.num_images }};
    ssid = '{{ g.ssid }}';
</script>
    
<script src={{ url_for('static', filename='edit.js') }}></script>

{% endblock %}
