{% extends 'base.html' %}

{% block header %}{% endblock %}


{% block content %}

<div id="controls-modal" class="modal">
    <div class="modal-content">
        <h4>Controls</h4>
        <table id="controls-table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><i class="material-icons">keyboard_arrow_right</i></td>
                    <td>See next candidate</td>
                </tr>
                <tr>
                    <td><i class="material-icons">keyboard_arrow_left</i></td>
                    <td>See previous candidate</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Label candidate as "not an explanation"</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Label candidate as "somewhat explanatory"</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Label candidate as "a good explanation"</td>
                </tr>
                <tr>
                    <td>Q</td>
                    <td>Label all candidates for current phrase as "not needing to be explained"</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>

<!-- Loads the stylesheet before the content so we can display loading sign -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'edit.css') }}">
<div id="entire-page-preloader" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

<div class="row all-container">
    <div id="side-stats" class="grey darken-3 col s3 z-depth-2">
        <h4> Explanation Labeling </h4>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Value</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Candidate</td>
                    <td id="current-candidate-count">N/A</td>
                    <td id="total-candidate-count"></td>
                </tr>
                <tr>
                    <td>Phrase</td>
                    <td id="current-phrase-count">N/A</td>
                    <td id="total-phrase-count"></td>
                </tr>
                <tr>
                    <td>Labeled</td>
                    <td>3</td>
                    <td>18</td>
                </tr>
            </tbody>
        </table>
        
        <a class="sidebar-button waves-effect waves-light btn" href="../logout">Mark as Done</a>
        <a class="sidebar-button waves-effect waves-light modal-trigger btn" href="#controls-modal">Show controls</a>
        <a class="sidebar-button waves-effect waves-light btn" href="../logout">Log out</a>
        
        <div class="paper-list collection">
        {% for paper in rendered_papers %}
            <a href="{{ paper['ssid'] }}" class="collection-item"> {{ paper['title'] }} </a>
        {% endfor %}
        </div>
    </div>
    
    <div class="col s9 offset-s3" id="image-container"></div>
</div>

{% endblock %}

{% block end %}

<script>
    user_email = '{{ g.email }}';
    number_of_images = {{ g.num_images }};
    ssid = '{{ g.ssid }}';
</script>
    
<script src={{ url_for('static', filename='edit.js') }}></script>

{% endblock %}
